# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# testing
/coverage

# env files
.env*
!.env.example

# secrets
*serviceAccount*.json
*-firebase-adminsdk-*.json

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem
.vercel
.vscode/